*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)), url(IN-en-20240903-TRIFECTA-perspective_0d3aac9c-578f-4e3c-8aa8-bbf4a392269b_large.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
   
}

.logo{
    width: 200px;
}

nav button{
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.langauge{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
}
.langauge img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
} 
.email{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.email input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email button{
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/*------------------features------------*/

.features{
    padding: 50px 12%;
    font-size: 22px;   
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0; 
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*----------------faq-----------*/

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}
.accordion{
    margin: 60px auto;
    width:100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display:flex ;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.faq .email{
    max-width: 600px;
    margin: 20px auto 60px;
}


/*------------------footer-------------*/
.footer{
    padding: 50px 15% 10px;
    border-top:6px solid #333;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .langauge{
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
